@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0px;
  padding: 0vmin 10vmin 0vmin 20vmin;
  text-align: center;
  font-family: 'Lato';

  font-weight: 400;
  font-style: italic;
  -webkit-font-smoothing: antialiased;

  background-color: #a7b6b654;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
